* {
  margin: 0;
  padding: 0;
  height:100%;
  box-sizing: border-box;

}


.login-page{
    background-image: url(./images/login_bg.svg);
    background-repeat: no-repeat;
}

.Login-button{


    position: absolute;
    top: 50%;
    left: 70%;
    bottom: 40%;
    height: 2.5em;
    padding-left: 3em;
    padding-right: 3em;
}
