.background {
    position: absolute;
    top: -40px;
    left: -40px;
    height: 120%;
    width: 120%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(30px);
    filter: blur(30px);
}


.background {
      background-image: url("back.jpg");
    }

.card {
    position: absolute;
    border-radius: 8px;
    height: 450px;
    width: 400px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 80px -10px black;
    overflow: hidden;
}

.card-blur {
    position: absolute;
    height: 100%;
    width: calc(100% + 1px);
    background-color: black;
    opacity: 0;
    transition: opacity 0.15s ease-in;
}

.card:hover .card-blur {
    opacity: 0.6;
}

.footer {
    z-index: 1;
    position: absolute;
    height: 80px;
    width: 100%;
    bottom: 0;
}

svg#curve {
    position: absolute;
    fill: white;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 450px;
}

.connections {
    height: 80px;
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin: auto;
}

.connection {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: white;
    display: inline-block;
    padding: 5px;
    margin-right: 25px;
    transform: translateY(200px);

    transition: transform 1s cubic-bezier(.46, 1.48, .18, .81);
}

.card:hover .connection {
    transform: translateY(0px);
}

.info {
	font-family: Inconsolata;
    padding-left: 20px;
    transform: translateY(250px);

    transition: transform 1s cubic-bezier(.31,1.21,.64,1.02);
}

.card:hover .info {
    transform: translateY(0px);
}

.name {
    font-weight: bolder;
    padding-top: 5px;
}

.job {
    margin-top: 10px;
}

.connection.facebook {
    height: 35px;
    width: 35px;
    margin-left: 20px;
    padding: 0px;
    border-radius: 100%;
    overflow: hidden;
}

.connection.twitter {
    transition-delay: 0.06s;
}

.connection.behance {
    transition-delay: 0.12s;
}

.connection.facebook .icon {
  height: 18px;
  width: 18px;
    background-position: center;

    background-color: black;
}

.connection.twitter .icon {
    height: 18px;
    width: 18px;
    margin-top: 4px;
    margin-left: 4px;
    background-position: center;
    background-size: cover;
}

.connection.behance .icon {
    height: 18px;
    width: 18px;
    margin-top: 3px;
    margin-left: 4px;
    background-position: center;
    background-size: cover;
}


.card {
    background-image: url("me.jpg");
  }
